@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}


<style type="text/css">

 #hero{
 }
    .title-head {
        font-family: Zeviero;
        font-size: 86px;
    
    }
    .tagline{
        text-align:center;
        margin: auto 0px;
    }
    .right-img {
        height: 50vh;
    }
    .img {
        height: 100%;
        width: auto;
    }
    #product{
        height: 800px;
    }
    .product-tagline{
    }
</style>
<div class="my-container" >
    <div class="row" id="hero">
        <section class="container py-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="title-head">World Class Fragrance</h1>
                    <h2 class="mt-5">"Elevate your everyday with a touch of elegance."</h2>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="~/Content/img/perfume2.png" alt="Image">
                </div>
            </div>
        </section>
        <div class="col-8 tagline">
            <h1 class="title-head">World Class Fragrance</h1>
            <h2 class="mt-5">"Elevate your everyday with a touch of elegance."</h2>
        </div>
        <div class="col right-img">
            <img src="~/Content/img/perfume1.jpg" class="img" alt="Alternate Text" />
        </div>
    </div>
    <hr />






    <div class="row">
        <div class="col">
            left product with sliders
        </div>
        <div class="col">
            <span>A Fragranance is a smell, Usually Pleasant or Sweet</span>
            <div class="row">
                <div class="col">content 1</div>
                <div class="col">content 2</div>
            </div>
        </div>
    </div>
    <div class="row" id="product">
        <div class="row">
            <div class="col">
                <h1 class="product-tagline">One of the most beloved Perfumes</h1>
            </div>
        </div>
        <div class="col">A</div>
        <div class="col">B</div>
        <div class="col">C</div>
    </div>
</div>